#page-login{
    width: 100vw;
    height: 100vh;
    background: #212121; 
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container h1 {
    font-weight: 400;
    font-size: 48px;
    padding-bottom: 40px;
}

.container button {
    height: 40px;
    min-width: 200px;
    font-weight: 500;
    transition: 0.3s;
    border-radius: 4px;
    outline: none;
    border: none;
}

.container button:hover {
    background: chartreuse;
}